<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:; connect-src 'self' https://11.1.189.17:5000;"> -->
    <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" /> -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="cordova.js"></script>
    <script type="text/javascript" src="js/scan_ble.js"></script>
    <script type="text/javascript" src="js/advertiser.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/app.js"></script>

    <script>
        function onLoad()
        {
          document.addEventListener("deviceready", onDeviceReady, false);
        }

        function onDeviceReady()
        {
          console.log("deviceready");
          exec(advertiser, error_advertiser, 'BLE', 'startAdvertise', [settings]);
        }
    </script>
  </head>

  <body onload="onLoad();" ng-app="app_sonar">
    <ion-pane>
      <!-- <ion-header-bar class="bar-stable">
        <h1 class="title">Sonar</h1>
      </ion-header-bar>
       -->
      <ion-nav-bar class="bar-dark" align-title="center">
        <ion-nav-back-button class="button button-icon button-clear">
          <i class="ion-android-arrow-back"></i> 
        </ion-nav-back-button>
        <!-- <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button> -->
        <ion-nav-buttons side="left">
          <button ng-if="$root.showCustomBack" ng-click="$root.goBack()" class="button button-clear"><i class="icon ion-chevron-left"></i></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <!-- <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
      </ion-nav-bar> -->
      
      <ion-nav-view class="slide-left-right"></ion-nav-view>


      <script id="tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-top tabs-dark">
 
          <ion-tab title="Home" icon="ion-home" href="#/tab/home" hidden="{{hide_tabs['home']}}">
            <ion-nav-view name="home-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Scanner" icon="ion-bluetooth" href="#/tab/scanner" hidden="{{hide_tabs['scanner']}}">
            <ion-nav-view name="scanner-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="HeartBeat" icon="ion-happy" href="#/tab/heartbeat" hidden="{{hide_tabs['heartbeat']}}">
            <ion-nav-view name="heartbeat-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="About" icon="ion-help-circled" href="#/tab/about" hidden="{{hide_tabs['about']}}">
            <ion-nav-view name="about-tab"></ion-nav-view>
          </ion-tab>

          <ion-tab title="List devices" icon="ion-iphone" href="#/tab/listdevice" hidden="{{hide_tabs['listdevice']}}">
            <ion-nav-view name="listdevice-tab"></ion-nav-view>
          </ion-tab>         

          <ion-tab title="List interactions" icon="ion-eye" href="#/tab/listinteraction" hidden="{{hide_tabs['listinteraction']}}">
            <ion-nav-view name="listinteraction-tab"></ion-nav-view>
          </ion-tab>

        </ion-tabs>
      </script>

      <script id="home.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">Home</ion-nav-title>
          
          <ion-content>
            <div class="list card">
              Home
            </div>
          </ion-content>

        </ion-view>
      </script>

      <script id="scanner.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">Scanner</ion-nav-title>
          
          <ion-content>
            <div class="list card">
              Scanner
            </div>
          </ion-content>

        </ion-view>
      </script>

      <script id="heartbeat.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">Heart beat</ion-nav-title>
          
          <ion-content>
             <div class="button-bar">
                <a class="button icon icon-right ion-refresh" ng-click="do_test();">Test stress level</a>
              </div>
          </ion-content>

        </ion-view>
      </script>

      <script id="about.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">About</ion-nav-title>

          <ion-content>
            <div class="list card">

              <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-information"></i>
                Please let us know how you like the application

              </a>

              <a href="#" class="item item-icon-left">
                <i class="icon ion-paper-airplane"></i>
                Contact us
              </a>
            </div>

            <div class="item item-divider">
              Supported on 
              <i class="icon ion-social-android"></i>
              <i class="icon ion-social-apple"></i>
            </div>
          </ion-content>

        </ion-view>
      </script>
      
      <script id="listdevice.html" type="text/ng-template">
        <ion-view cache-view="true">
          <ion-nav-title class="nav-title">List devices</ion-nav-title>

          <ion-content>
            <ion-list id="id_list_device">
              <div class="row" style="display: block;">
                  <div class="col">
                    <a class="button" ng-click="scan_button();">
                    <i class="icon ion-radio-waves"></i>
                      Scan
                    </a>
                  </div>

                  <div class="col">
                    <!-- ng-class="{0: 'ion-radio-waves', 1:'ion-radio-waves'}[active_scan] -->
                    <ion-spinner class="icon ripple"></ion-spinner>
                  </div>
              </div>

              <div class="button-bar">
                <a class="button icon icon-right button-balanced" ng-if="show_send" ng-click="send_button();"><i class="icon ion-upload"></i></a>
              </div>

              <div class="item item-divider">
                Sonar device
              </div>
              <ion-item ng-repeat="device in list_device_sonar" item="scan.address" href="#/device/{{device.address}}">
                {{device.address}}
              </ion-item>

              <div class="item item-divider">
                Normal device
              </div>
              <ion-item ng-repeat="device in list_device_normal" item="scan.address" href="#/device/{{device.address}}">
                {{device.address}}
              </ion-item>

            </ion-list>
          </ion-content>
        </ion-view>
      </script>

      <script id="listinteraction.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">List interactions</ion-nav-title>
          
          <ion-content>
            Interactions here
          </ion-content>
        </ion-view>

      </script>

      <script id="device.html" type="text/ng-template">
        <ion-view>
          <ion-nav-title class="nav-title">Details of {{device.address}}</ion-nav-title>

          <ion-content>
            <ion-list ng-repeat="features in device.proximity">
              <ion-item class="item-stable" ng-click="toggleGroup(features)" ng-class="{active: isGroupShown(features)}">
                <i class="icon" ng-class="isGroupShown(features) ? 'ion-minus' : 'ion-plus'"></i>
                &nbsp;
                Proximity {{ features.num }}
              </ion-item>
              <ion-item class="item-accordion" ng-show="isGroupShown(features)">
                <div class="row header">
                  <div class="col">Features</div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col">RSSI</div>
                  <div class="col">{{features.rssi}}</div>
                </div>
                <div class="row">
                  <div class="col">Distance</div>
                  <div class="col">{{features.distance}}</div>
                </div>
                <div class="row">
                  <div class="col">Nb detection</div>
                  <div class="col">{{features.nb_detection}}</div>
                </div>
                <div class="row">
                  <div class="col">Duration</div>
                  <div class="col">{{features.duration}} (since {{features.date_start.toLocaleTimeString()}})</div>
                </div>
              </ion-item>
            </ion-list>
          </ion-content>
        
        </ion-view>
      </script>

    </ion-pane>
  
  </body>    
</html>
