.list .item.item-accordion 
{
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide 
{
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove 
{
  display: block !important;
}

#mybar > .button { font-size: 21px; line-height: 52px; padding: 0 10px; }
#mybar > .button .icon,
#mybar > .button .icon:before, #mybar > .button.icon:before, #mybar > .button.icon-left:before, #mybar > .button.icon-right:before{ font-size: 22px; margin-top: 10px; }
#mybar > .button:first-child,
#mybar > .button:last-child { border-radius: 0px 0px 0px 0px; }

.nav-title
{
	font-size: 23px;
}

.div_button
{
	font-size: 15px;
	line-height: 20px;
}